.post-delete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-top: 5rem;
}

.post-delete h2{
    font-size: 2rem;
    margin-bottom: 4rem;
    text-align: center;
}

.botoes{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 10rem;
    font-weight: roboto;
 }